<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div id="nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">shelver</a>
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#about">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>